* {box-sizing: border-box;}
.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
.radio__radio {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #d8e4e2;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}

body {
  text-align: center;
}
p.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 8em
}
.body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #FF0000;
  padding: 20px 20px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
.header-left {
  float: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  img {
    width: 5%;
    height:	5%;
    }
    form {
      display: inline-block;
    margin-center: 50px;
  }
  p {
    text-align:center
   }
   .center {
    text-align: center
   }
   .center-text
{
    display: table;
    margin: 0 auto;
}
.button5 {
  background-color: #555555;
} /* Black */
}


  